* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Blackadder ITC';
    background-color: rgba(0, 0, 0, 0.828);
  }
  h1{
    text-align: center;
    color: greenyellow;
  }
  .hr1{
    width: 74%;
    border: 1px solid green;
    margin: 5px auto;
  }
  .hr2{
    width: 100%;
    border: 1px solid red;
    margin: 5px auto;
  }
  .hr3{
    width:50%;
    border: 1px solid green;
    margin: 5px auto;

  }

  main {
    background-color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  
  textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid #c10d0d;
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(34, 33, 33);
    color: greenyellow;
    box-shadow: inset 0 0 10px greenyellow;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: greenyellow;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: greenyellow;
  }
  
  .btn button {
    background-color: greenyellow;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn button:hover {
    background-color: red;
    transition: 0.5s ease-in-out;
  }
  
  @media screen and (max-width: 600px) {
    textarea {
      cols: 30;
    }
  }
  